<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Model.Properties.Settings>
            <setting name="ImpersonateEmail" serializeAs="String">
                <value>user@domain.com</value>
            </setting>
            <setting name="SharedCalendarEmail" serializeAs="String">
                <value>user@domain.com</value>
            </setting>
            <setting name="DaysBefore" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DaysAfter" serializeAs="String">
                <value>10</value>
            </setting>
        </Model.Properties.Settings>
    </userSettings>
</configuration>